NODE_ENV="development"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_PUBLISHABLE_KEY=""

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Postgres Config
DATABASE_URL=""

# Email Config | Resend key
RESEND_API_KEY="re_"

# Sender email | Resend
EMAIL_FROM_ADDRESS="mail@mail.com"

# Discord Config
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# UploadThing Config
UPLOADTHING_SECRET=
UPLOADTHING_ENDPOINT=""

# JWT for auth
JWT_SECRET=""
